<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Django Paginator example</title>

	<style>
		li{
			display: inline;
			color:white;
		}
		li a,a{
			text-decoration: none;
			color:white;
		}
		.bg{
			background-color:blue;
		}
		span{
			border: 5px solid red;
			background-color:black;
			color:white;
		}
		</style>
</head>
<body>
	<div class="container">
		{% for question in page_obj.object_list %}
		{# note that the list of posts are in the page_obj.object_list not page_obj #}
			<h1>{{question.question_text}}</h1>
			

			<hr/>
		{% endfor %}
	</div>
	<center>
	<div class="bg">

		{%if page_obj.has_previous %} {# whether the previous page exists #}
			<a href="?page={{page_obj.previous_page_number}}">&laquo;</a> {# link to the prev page #}
		{% endif %}


		{# for hide numbers add ... if previous page numbers range exceedes 2 numbers #}
		{% if page_obj.number|add:'-2' > 1 %}
    		<li>&hellip;</li>
		{% endif %}
		

		{% for n in page_obj.paginator.page_range %} {# total pages #}
			{% if page_obj.number == n %} {# if in current page #}
				<li>
					<span> {{ n }}*</span>
				</li>
			{% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
				{# add 3 page numbers befor and after current page number #}
				<li><a href="?page={{ n }}">{{ n }}</a></li>
			{% endif %}
		{% endfor %}

		
		{# for hide numbers add ... if next page numbers range exceedes 2 numbers #}
		{% if page_obj.paginator.num_pages > page_obj.number|add:'2' %}
    		<li>&hellip;</li>
		{% endif %}
		

		{%if page_obj.has_next %} {# whether the next page exists #}
			<a href="?page={{page_obj.next_page_number}}">&raquo;</a> {# link to the next page #}
		{% endif %}

		

	</div>
	</center>
</body>
</html>
